/* global */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.primary-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    margin: 24px 0px;
}

.section-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 32px 0px;
}

.details {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(245, 245, 245);
}


/*        */
/* header */
/*        */
header {
    width: 100%;
}

header nav {
    padding: 24px 160px 24px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav span {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

header nav button {
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    margin: 0px 10px;
}

/*        */
/*  main  */
/*        */
main {
    width: 100%;
}

/* section-1 */
main .section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 80px 160px;
    padding: 80px 100px 80px 100px;
}
main .section-1 .left {
    width: 50%;
}
main .section-1 .left h4 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
main .section-1 .left h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
main .section-1 .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .section-1 .right img {
    width: 474.03px;
    height: 400px;
}









/* section-2 */
main .section-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 24px;
    margin: 80px 160px;
    padding: 80px 0px;
}

main .section-2 .item-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

main .section-2 .item-layout .item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px;
}

main .section-2 .item-layout .item img {
    width: 62px;
    height: 62px;
}

main .section-2 .item-layout .item h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

main .section-2 .item-layout .item p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}












/* section-3 */
main .section-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 24px;
    margin: 80px 160px;
    padding: 80px 0px;
}

main .section-3 .item-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 32px 0;
}

main .section-3 .item-layout .item {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    box-sizing: border-box;
    padding: 40px 40px 16px 40px;
    box-sizing: border-box;
    border-radius: 16px;
}

main .section-3 .item-layout .item img {
    width: 62px;
    height: 62px;
}

main .section-3 .item-layout .item h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

main .section-3 .item-layout .item .btn-blue {
    width: fit-content;
    border-radius: 8px;
    background: rgb(84, 144, 245);
}

main .section-3 .item-layout .bg-blue {
    background: rgba(84, 144, 245, 0.2);
}

main .section-3 .item-layout .item .btn-green {
    width: fit-content;
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

main .section-3 .item-layout .bg-green {
    background: rgb(198, 228, 214);
}

main .section-3 .item-layout .item .btn-yellow {
    width: fit-content;
    border-radius: 8px;
    background: rgb(255, 194, 57);
}

main .section-3 .item-layout .bg-yellow {
    background: rgb(247, 235, 207);
}

main .section-3 .quote-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 32px 0;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.1) 100%), url("../assets/quote-bg.png"), white;
    background-position: 25px 25px;
    background-repeat: no-repeat;
    margin: 0px 0px;
    padding: 48px 24px 48px 24px;
}

main .section-3 .quote-layout h2 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

main .section-3 .quote-layout h6 {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 6px;
}








/* section-4 */
main .section-4 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 24px;
    margin: 80px 160px;
    padding: 80px 0px;
}

main .section-4 .q-layout {
    width: 96%;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
}

main .section-4 .q-layout table {
    width: 100%;
    border-collapse: collapse;
}

main .section-4 .q-layout table thead {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    padding: 24px;
}

main .section-4 .q-layout table thead .left {
    margin-right: 75%;
}

main .section-4 .q-layout table thead .right {
    text-align: right;
}

main .section-4 .q-layout table .option-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section-4 .q-layout table tbody span {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px 10px 14px;
    margin: 24px 0px;
}

main .section-4 .q-layout table tbody span i {
    
}



main .section-4 .q-layout table th {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

main .section-4 .q-layout table td {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
















/* section-5 */
main .section-5 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 24px;
    margin: 80px 160px;
    padding: 80px 0px;
}

main .section-5 .item-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 32px 0;
}

main .section-5 .item-layout .item {
    display: flex;
    padding: 48px;
    gap: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

main .section-5 .item-layout .item-reverse {
    flex-direction: row-reverse;
}

main .section-5 .item-layout .item .left {

}

main .section-5 .item-layout .item .left img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

main .section-5 .item-layout .item .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
}

main .section-5 .item-layout .item .right h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

main .section-5 .item-layout .item .right img {
    width: 134px;
    height: 40px;
}

main .section-5 .item-layout .item .right button {
    width: fit-content;
}















/* section-6 */
main .section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-radius: 24px;
    margin: 80px 350px;
    padding: 80px 0px;
}

main .section-6 p {
    text-align: center;
}

main .section-6 .item-layout {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 32px 0;
}

main .section-6 .item-layout .item {
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

main .section-6 input {
    width: 80%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}


/*        */
/* footer */
/*        */
footer {

}